body{
	font-size: 30px;
	margin: 0;
}
.main{
	border: 20px ridge;
	width: 60vw;
	height: 80vh;
	margin: auto;
}
.main-text{
	margin-top: 10px;
	display: block;
	width: width: 60vw;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.main .img{
	width: 60vw;
	height: 80vh;
	background-size: cover;
	background-position:center;
	transition: 0.2s;
}
.main .img:hover{
	transform: scaleY(1.5);
	transform: scaleX(1.2);
	transition: 1s;
}
.hp{
	color: lightgreen;
}
.ot{
	animation: key 4s infinite;
}
.chast{
	color: yellow;
	background-color: lightblue;
}
@keyframes key{
	from{
		color: red;
	}
	to{
		color: purple;
	}
}

